<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title ">Teams</h4>
                      <p class="card-category"> Review the teams status</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                  <th>
                                      Code
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Lead Name
                                  </th>
                                  <th>
                                      Motivation Time AVE
                                  </th>
                                  <th>
                                      Motivation Level
                                  </th>
                              </thead>
                              <tbody>
                                  <tr class="mat-menu-item-highlighted">
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Team A
                                      </td>
                                      <td>
                                          Paola Silvera
                                      </td>
                                      <td>
                                          2:30 PM - 4:30 PM
                                      </td>
                                      <td class="text-primary">
                                          Happy
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Team B
                                      </td>
                                      <td>
                                          Paola Gonzales
                                      </td>
                                      <td>
                                          10:00 AM - 12:30 PM
                                      </td>
                                      <td class="text-primary">
                                          Fearful
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Team C
                                      </td>
                                      <td>
                                          Yecid Perez
                                      </td>
                                      <td>
                                          10:00 AM - 12:30 AM
                                      </td>
                                      <td class="text-primary">
                                          Surprised
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Team D
                                      </td>
                                      <td>
                                          Andy Barret
                                      </td>
                                      <td>
                                          4:30 PM - 6:30 PM
                                      </td>
                                      <td class="text-primary">
                                          Neutral
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Team E
                                      </td>
                                      <td>
                                          Daniela Rojas
                                      </td>
                                      <td>
                                          10:30 AM - 12:00 PM
                                      </td>
                                      <td class="text-primary">
                                          Disgusted
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Team F
                                      </td>
                                      <td>
                                          Adrian Medrano
                                      </td>
                                      <td>
                                          2:30 PM - 4:00 PM
                                      </td>
                                      <td class="text-primary">
                                          Sad
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">AVG Emotions by Day</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Emotion </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">AVG working task per day</h4>
                      <p class="card-category">This is the current last workign hours time</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Data updated last 5 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
