<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Notifications</h3>
              <p class="card-category">Review your notifications
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <h4 class="card-title">Notifications list</h4>
                      <div class="alert alert-info">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Info - </b> Team A is working well</span>
                      </div>
                      <div class="alert alert-success">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> OK - </b> The meeting 1:1 with Yecid Perez was scheduled</span>
                      </div>
                      <div class="alert alert-warning">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Warning - </b> The team B is working 40% happy this week </span>
                      </div>
                      <div class="alert alert-danger">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Danger - </b> The team F is working 10% happy this week</span>
                      </div>
                      <div class="alert alert-info">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Info - </b> Team C has accepted your invitation to the meeting</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="places-buttons">
                  <div class="row">
                      <div class="col-md-6 ml-auto mr-auto text-center">
                          <h4 class="card-title">
                              Notifications Places
                              <p class="category">Click to view notifications</p>
                          </h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
