<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Reporting Team</h4>
                      <p class="card-category">List of users</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                              <th>
                                  Code
                              </th>
                              <th>
                                  Name
                              </th>
                              <th>
                                  User Name
                              </th>
                              <th>
                                  Email
                              </th>
                              <th>
                                  Role
                              </th>
                              </thead>
                              <tbody>
                              <tr class="mat-menu-item-highlighted">
                                  <td>
                                      1
                                  </td>
                                  <td>
                                      Israel Azurduy
                                  </td>
                                  <td>
                                      israel.azurduy
                                  </td>
                                  <td>
                                      israel.azurduy
                                  </td>
                                  <td class="text-primary">
                                      Software Engineer Test II
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      2
                                  </td>
                                  <td>
                                      Paola Gonzales
                                  </td>
                                  <td>
                                      paola.gonzales
                                  </td>
                                  <td>
                                      paola.gonzales@niceincontac.com
                                  </td>
                                  <td class="text-primary">
                                      Software Engineer Test II
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      Paola Silvera
                                  </td>
                                  <td>
                                      paola.silvera
                                  </td>
                                  <td>
                                      paola.silvera@niceincontac.com
                                  </td>
                                  <td class="text-primary">
                                      Software Architec
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      4
                                  </td>
                                  <td>
                                      Yecid Perez
                                  </td>
                                  <td>
                                      yecid.perez
                                  </td>
                                  <td>
                                      yecid.perez@niceincontact.com
                                  </td>
                                  <td class="text-primary">
                                      Software Engineer I
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      5
                                  </td>
                                  <td>
                                      Francisco Requena
                                  </td>
                                  <td>
                                      francisco.requena
                                  </td>
                                  <td>
                                      francisco.requena@niceincontact.com
                                  </td>
                                  <td class="text-primary">
                                      Software Engineer Test II
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      6
                                  </td>
                                  <td>
                                      Daniel Merida
                                  </td>
                                  <td>
                                      daniel.merida
                                  </td>
                                  <td>
                                      daniel.merida@niceincontact.com
                                  </td>
                                  <td class="text-primary">
                                      Software Engineer I
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Software Engineer Test / Nice InContact</h6>
                      <h4 class="card-title">Israel Azurduy</h4>
                      <p class="card-description">
                          2 years and 5 months on Nice InContact <br>
                          1 year as Software Engineer I <br>
                          1 year and 5 months as Software Engineer II <br>
                      </p>
                      <p>
                          <b>Motivation:</b>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star-o" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star-o" style="font-size:25px;color:yellow"></span>
                      </p>
                      <div class="card card-chart">
                          <div class="card-header card-header-warning">
                              <div class="ct-chart" id="completedTasksChart"></div>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Emotions by Hours</h4>
                              <p class="card-category">Emotions shown during the working hours day</p>
                          </div>
                          <div class="card-footer">
                              <div class="stats">
                                  <i class="material-icons">access_time</i> Time updated 5 minutes ago
                              </div>
                          </div>
                      </div>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
