<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Reporting Team</h4>
                      <p class="card-category">List of users</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                              <th>
                                  Code
                              </th>
                              <th>
                                  Name
                              </th>
                              <th>
                                  User Name
                              </th>
                              <!-- <th>
                                  Email
                              </th> -->
                              <th>
                                  Role
                              </th>
                              </thead>
                              <tbody>
                              <tr class="mat-menu-item-highlighted">
                                  <td>
                                      1
                                  </td>
                                  <td>
                                      Adriana Berrios
                                  </td>
                                  <td>
                                      adriana.berrios
                                  </td>
                                  <!-- <td>
                                      israel.azurduy
                                  </td> -->
                                  <td class="text-primary">
                                      Quality Assurance Engineer I
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      2
                                  </td>
                                  <td>
                                      Paola Gonzales
                                  </td>
                                  <td>
                                      paola.gonzales
                                  </td>
                                  <!-- <td>
                                      paola.gonzales@niceincontac.com
                                  </td> -->
                                  <td class="text-primary">
                                      Software Engineer Test II
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      Paola Silvera
                                  </td>
                                  <td>
                                      paola.silvera
                                  </td>
                                  <!-- <td>
                                      paola.silvera@niceincontac.com
                                  </td> -->
                                  <td class="text-primary">
                                      Software Architec
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      4
                                  </td>
                                  <td>
                                      Yecid Perez
                                  </td>
                                  <td>
                                      yecid.perez
                                  </td>
                                  <!-- <td>
                                      yecid.perez@niceincontact.com
                                  </td> -->
                                  <td class="text-primary">
                                      Software Engineer I
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      5
                                  </td>
                                  <td>
                                      Francisco Requena
                                  </td>
                                  <td>
                                      francisco.requena
                                  </td>
                                  <!-- <td>
                                      francisco.requena@niceincontact.com
                                  </td> -->
                                  <td class="text-primary">
                                      Software Engineer Test II
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      6
                                  </td>
                                  <td>
                                      Daniel Merida
                                  </td>
                                  <td>
                                      daniel.merida
                                  </td>
                                  <!-- <td>
                                      daniel.merida@niceincontact.com
                                  </td> -->
                                  <td class="text-primary">
                                      Software Engineer I
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Quality Assurance Engineer I / Nice InContact</h6>
                      <h4 class="card-title">Adriana Berrios</h4>
                      <p class="card-description">
                          2 years and 5 months on Nice InContact <br>
                          <!-- 1 year as Software Engineer I <br>
                          1 year and 5 months as Software Engineer II <br> -->
                      </p>
                      <p>
                          <b>Motivation:</b>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star" style="font-size:25px;color:yellow"></span>
                          <span class="fa fa-star-o" style="font-size:25px;color:yellow"></span>
                      </p>
                      <!-- <div class="card card-chart">
                          <div class="card-header card-header-warning">
                              <div class="ct-chart" id="completedTasksChart"></div>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Emotions by Hours</h4>
                              <p class="card-category">Emotions shown during the working hours day</p>
                          </div>                         
                          <div class="card-footer">
                              <div class="stats">
                                  <i class="material-icons">access_time</i> Time updated 5 minutes ago
                              </div>
                          </div>
                      </div> -->
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon" style="padding: 1px !important;">
                                        <i class="material-icons">sentiment_very_satisfied</i>
                                    </div>
                                    <p class="card-category">08:00 AM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon" style="padding: 1px !important;">
                                        <i class="material-icons">mood_bad</i>
                                    </div>
                                    <p class="card-category">09:00 AM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon" style="padding: 1px !important;">
                                        <i class="material-icons">sentiment_satisfied</i>
                                    </div>
                                    <p class="card-category">10:00 AM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon" style="padding: 1px !important;">
                                        <i class="material-icons">sentiment_satisfied</i>
                                    </div>
                                    <p class="card-category">11:00 AM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Working hours per task types and days</h4> 
                          <p class="card-category"> New User Stories <i class="material-icons" style="color: red">fiber_manual_record</i>  
                            Bugs <i class="material-icons" style="color:lightcyan">fiber_manual_record</i></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Data updated last 5 minutes ago
                        </div>
                    </div>
                </div>
                  <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
